
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 14px;
    }

    .dropdown-trigger {
        background-color: transparent;
        color: #333;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #9e9e9e;
        /* Border default 1px */
        transition: border-color 0.5s ease, border-width 0.3s ease, background-color 0.3s ease;
        outline: none;
        appearance: none;
    }

    .dropdown-trigger:hover,
    .dropdown.open .dropdown-trigger {
        border-bottom-color: #ff1745 !important;
        border-bottom-width: 1px;
        /* Border berubah menjadi 2px saat hover */
    }

    .dropdown.selected .dropdown-trigger {
        border-bottom-color: #00e677 !important;
        border-bottom-width: 2px;
    }

    .dropdown-trigger:focus {
        background-color: transparent !important;
        border-bottom-color: #ff1745 !important;
        box-shadow: none;
    }

    .arrow-down {
        font-size: 12px;
        color: #9e9e9e;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .dropdown-trigger:hover .arrow-down,
    .dropdown.open .arrow-down {
        color: #333;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: white;
        width: 100%;
        overflow-y: auto;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-top: 5px;
        z-index: 9999;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .dropdown-menu .dropdown-item {
        padding: 12px 18px;
        cursor: pointer;
        color: #333;
        border-bottom: 1px solid #f0f0f0;
        transition: background-color 0.2s ease;
    }

    .dropdown-menu .dropdown-item:last-child {
        border-bottom: none;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #f4f4f4;
    }

    .dropdown.open .dropdown-menu {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .dropdown.open .arrow-down {
        transform: rotate(180deg);
    }

    .dropdown-text {
        font-size: 14px;
    }
